* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    /* width: 100%; */
    
    
   
}

.hero-section{
  padding: 0 60px;
    
    
}

.bottom-img{
    width: 100%;
}

.wrapper{
    box-sizing: content-box;
    background-color: transparent;
    height: 70px;
    /* padding: 50px 20px; */
    display: flex;
  
    justify-content: center;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */

}

.wrapper p{
    font-size: 30px;
    font-weight: 500;
   /* margin: 0 auto; */
}

.words span{
    font-size: 30px;
    font-weight: 500;
    display: block;
    height: 100%;
    
   padding-left: 10px;
    color: #00a33f;
    animation: spin_words 6s infinite;
    
}

.words{
    overflow: hidden;
}

@keyframes spin_words{

    
    10%{
        transform: translateY(-112%);
    }

    25%{
        transform: translateY(-100%);
    }

    35%{
        transform: translateY(-212%);
    }

    50%{
      transform: translateY(-200%);
    }
    

    60%{
     transform: translateY(-312%);
    }

    75%{
        transform: translateY(-300%);
    }

    85%{
        transform: translateY(-412%);
    }

    100%{
        transform: translateY(-400%);
    }
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-top: 10px;
   
}

.nav-links ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
   
    
}

.nav-links ul li {
    display: inline-block;
    margin-right: 20px;

}

.nav-links ul li a:hover{
    color: #00a33f;
}

a {
    text-decoration: none;
    color: #555;
    transition: 0.5s;
}
.logo{
    margin-left: 20px;
}

.logo h3{
    color: #2c2c2c;
    font-weight: 600;
    font-size: 17px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    /* margin-left: 20%; */
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
    border-radius: 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn:hover {
    background-color: #2c2c2c;
    color: #fff;

}

.header {
    background-color: #e3e6f3;
   
   
}
.cart-logo{
    margin-right: 20px;
    margin-top: 10px;
}

.cart-logo:hover{
    transform: scale(1.1);
    
}
.header .row {
    margin-top: 70px;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;

}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}

.gallery div img {
    width: 100%;
    filter: blur(4px);
    transition: transform 0.5s;

}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;

}

#backbtn,
#nextbtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: blur(0);
    cursor: pointer;
    transform: scale(1.1);

}

.gallery-text {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 70px;

}

.gallery-text h1 {
    color: #555;
    line-height: 30px;
    margin-top: 20px;
    font-size: 35px;
    padding-bottom: 10px;
}

.gallery p {

    font-size: 17px;
    color: #555;

}

hr {
    margin: auto;
    width: 30%;
    margin-top: 10px;
    border-top: 10px dotted #2c2c2c;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;


}

/* -----featured products----- */
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;

}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;

}

.rating i {
    color: #00a33f;
}

.title {
    margin: 0 auto 80px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background-color: #555;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
}

.col-4 p {
    font-size: 14px;
}

.col-4 h4 {
    color: #555;
    font-weight: 100px;
}

.col-4 img:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
       
}

.offer {
    background: linear-gradient(-55deg, #e3e6f3 29%, #d5e6ec 29.1%, #dddada 68%, #cad1dd 68.1%);
    margin-top: 80px;
    padding: 30px 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    
}


.col-2 .offer-png {
  position: absolute;
  top: 0;
  left: -10%;
  
}

small {
    color: #555;
}

.offer-btn {
    background-color: #2c2c2c;
    padding: 7px 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    transition: background 0.5s;
    font-weight: 400;
    margin-bottom: 20px;
}

.offer-btn:hover {
    color: #ffffff;
    background-color: rgb(253, 113, 190);
}

.timer {
    display: flex;
    margin-top: 10px;
    border: 1px solid rgb(73, 73, 73);
    text-align: center;
    width: 70%;
    /* width: ; */
    transition: box-shadow 0.5s;
}

.timer div {
    flex-basis: 100px;
}

.timer div p {
    font-size: 30px;
    margin-bottom: -14px;
}

.timer-span {
    color: #2c2c2c;
}

.sale {
    margin-top: 30px;
    text-align: center;
    margin-right: 150px;

}

.arrow {
    font-size: 30px;

    text-align: center;
    margin-right: 150px;
}

.timer:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.Exclusively {
    margin-top: 50px;
    margin-bottom: 20px;
}

.col-2 .Exclusively,
h2 {
    margin-bottom: 10px;
}


.col-3{
    flex-basis: 25%;
    min-width: 300px;
       margin-top: 15%;
      padding: 10px 20px;  

}

.col-3 img{
  width: 100%;
  transition: transform 0.5s;
  filter: grayscale(100%);
  padding-bottom: 30px;
  
}

.col-3 img:hover{
 transform: scale(1.2);
    cursor: pointer;
    filter: grayscale(0);  
}

/* ------testimonials------ */

.testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonials h2{
   font-size: 35px;
    text-align: center;
     color: #555;
     line-height: 60px;
     letter-spacing: 10px;
     /* margin-top: 40px; */
}

.testimonials .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  

}

.testimonials .col-3 img{
    width: 80%;
    margin-top: 20px;
    border-radius: 60%;
}

.fa-quote-left{
    font-size: 34px;
    color: #2c2c2c;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonials .col-3 h3{
    font-weight: 600;
    font-size: 16px;
    color: #555;
}

.brands{
    margin: 100px auto;
    display: flex;
   
      
}

.col-5{
    flex-basis: 20%;
    min-width: 160px;
       
      padding: 10px 20px;  
     
}

.col-5 img{
    width: 100%;
    filter: grayscale(100%);
   
    cursor: pointer;
}

.col-5 img:hover{
    transform: scale(1.2);
    filter: grayscale(0);
 
}

.brands h2{
    text-align: center;
}

/* ------footer----- */

.footer{
   background: linear-gradient(-55deg, #e3e6f3 29%, #d5e6ec 29.1%, #afafaf 68%, #c7c7c7 68.1%);
    width: 100%;
    
    font-size: 14px;
    color: #8a8a8a;
    padding: 60px 0 20px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px  rgba(255, 255, 255, 1),
              -0.5px -0.5px 0px  rgba(0, 0, 0, 0.15),
              0px -12px 10px -10px rgba(0, 0, 0, 0.05);
              
  

}
.footer li{
    color: #000000;
}

.footer p{
    color: #000000;
  
}

.footer-col-1 p{
    color: #000000;
}

.footer h3{
    color: hsl(0, 0%, 1%);
    margin-bottom: 20px;
    
}

.footer-col-3 h3{
    color: #000000;
}

.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
    filter: blur(0);
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3{
    flex-basis: 10%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

/* -----social media----- */

/* 
body{
    background: #e3edf7;
}

h1{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 200px 0 100px;
    text-align: center;
    color: #555;

} */


.social h2{
    text-align: center;
   margin-bottom: 50px;
   margin-left: 80px;
}

.social-icons{
    background: #e3edf7;
    height: 75px;
    width: 75px;
   margin: 0 15px;
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
               -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

               border: 1px solid rgba(0, 0, 0, 0);
               transition: transform 0.5s;
}

.col-5 i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
    text-align: center;
    padding: 20px 0;
}

 .col-5 .social-icons:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px  rgba(255, 255, 255, 1),
              -0.5px -0.5px 0px  rgba(0, 0, 0, 0.15),
              0px -12px 10px -10px rgba(0, 0, 0, 0.05);
              
              border: 1px solid rgba(0, 0, 0, 0.01);

              transform: translateY(2px);
              
}

.col-5 a:hover i{
    transform: scale(0.90);
}

a:hover .fa-facebook{
    color: #3b5998;
}


a:hover .fa-whatsapp{
    color: #4fce5d;
}


a:hover .fa-twitter{
    color: #00acee;
}


a:hover .fa-instagram{
    color: #f14843;
}


a:hover .fa-youtube{
    color: #f00;
}

.social hr{
    border: none;
    background: #111111;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}

.social p{
    text-align: center;
}

.menu-icon{
    width: 28px;
    height: 28px;
    margin-left: 20px;
    display: none;
}
/* -----All Products page ------ */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.col-4 a p{
    color: #00a33f;
}
select{
    border: 1px solid #2c2c2c;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #2c2c2c;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #2c2c2c;
    color: #fff;
}

.best-quality{
  width: 100%;
}

.row-img{
    width: 100%;
    
}

.row-img img{
    width: 100%;
}

.offer-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-55deg, #e3e6f3 29%, #d5e6ec 29.1%, #afafaf 68%, #c7c7c7 68.1%);
  width: 100%;
  padding: 50px 50px;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.offer-2 h1{
  font-size: 30px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 40px;

}


.offer-2 p{
    font-size: 15px;
 margin-bottom: 10px;
}

marquee{
    background-color: #3a3838;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
   
}

.offer-2 div small{
    font-size: 20px;
}

/* -----offer 3 on page page 3----- */

.offer-3{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    
}

.offer-3 div img{
    width: 160%;
    
}

.offer-3 div{
    width: 50%;
}

.offer-3 div h3{
    text-align: center;
    margin-bottom: 40px;
    
}

.offer-3 div a{
    margin-left: 80px;
    margin-top: 40px;
}

.offer-3 div small{
    font-size: 20px;
}

.offer-3 div .offer-3-btn{
    font-size: 20px;
    
    

}

.offer-3 div p{
    text-align: center;
}

.row-2 small{
    font-size: 22px;
    color: #5555558f;
}

/* ---------single product------- */

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;

}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #2c2c2c;
}

input:focus{
    outline: none;
}


.single-product i{
    color: #2c2c2c;
    margin-left: 10px;
}


.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.Specifications{
    font-size: 15px;
}

/* ------cart page------- */

.cart-page{
    margin: 80px auto;

}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #2c2c2c;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}


td a{
    color: #2c2c2c;
    font-size: 12px;
}

td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.total-price{
    
    margin-left: 66%;
    border-top: 3px solid #2c2c2c;
    width: 100%;
    max-width: 350px;

}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* -------About us-------- */
.know{
    margin-top: 40px;
}


.about-img{
    width: 100%;
    height: auto;
}








      /* -------account page------- */
     

.account-page{
   
padding: 50px 0;
background-color: #e3e6f3;
position: relative;

}



.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;

}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #2c2c2c;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}



#Indicator{
   width: 100px;
   border: none;
   background: #2c2c2c;
   height: 3px;
   margin-top: 8px;
   transform: translateX( 60px);
   transition: transform 1s;
}



form a{
    font-size: 12px;
}

/* -----contact from------- */




.talk{
    margin: 10% auto 10px;
    
}
.msg{
   margin-left: 35%;
 margin-top: 10px;
 margin-bottom: 10%;
  
}

.get-in h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.get-in span{
    color: #727272;
}

.get-in h3{
    font-size: 16px;
    padding-bottom: 15px;
}

.get-in li{
    list-style-type: none;
    display: flex;
    padding: 10px 0;
}

.get-in li i{
    font-size: 15px;
    padding-right: 22px;
    color: cadetblue;
}

.get-in li p{
    margin: 0;
    font-size: 15px;
}

.get-in iframe{
    padding-left: 40px;
}
.contact-form{
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), #3551b5), url([GetPaidStock.com]-6408c9cd081e0.jpg); */
    /* width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* background: linear-gradient(#c3c9e6,#919191,#b6d4ff); */
   margin-top: 50px;
  margin-bottom: 40px;
  
}



.row-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.row-form .input-groups{
    flex-basis: 48%;
}

.input-form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    

   
}

.input-form:focus{
    outline: none;
   
}

.input-groups{
    margin-bottom: 30px;
    position: relative;
    
   
}

/* .contact-form h1{
    color: #fff;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    width: 10%;
    padding-top: 20px;

} */


.input-groups input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    color: #2c2c2c;
    background: transparent;
    border: 1px solid #555;
    font-size: 15px;
    margin-top: 7px;
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.055);
}

label{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #2c2c2c;
  cursor: text;
  transition: 0.2s;
}


.input-form button{
    padding: 10px 0;
    background: transparent;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

}

.input-form .reset:hover{
   background-color: rgb(255, 43, 43);
   border: 1px solid  rgb(255, 43, 43);
   color: #fff;
}
.input-form button:hover{
    background-color: #00a33f;
    border: 1px solid #00a33f;
    color: #fff;

}

.input-form input:focus~label,
.input-form input:valid~label,
textarea:focus~label,
textarea:valid~label{
   top: -35px;
   font-size: 14px;

}

.text{
    text-align: center;
}

.small-container .video{
    width: 70%;
    height: 100%;
    margin: 30px auto;
    
}

.small-container .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
   
}

.col-2 video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

/* ------banners-------- */

.banner-box{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 text-align: center;
 background-image: url("V_Banner_MahaAdjustableAC.jpeg");
 min-width: 580px;
 height: 50vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 padding: 40px;
 border-radius: 30px;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
 
}

.banner-box2{
    background-image: url(banner2.png);
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 text-align: center;
 min-width: 580px;
 height: 50vh;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 padding: 40px;
 border-radius: 30px;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    
}

.banner-box:hover{
  
  cursor: pointer;
}



.sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 65px;
    padding-right: 65px;
    margin: auto;
   
    
}

.sm-banner h4{
    font-size: 20px;
    margin-top: 25%;
    color: #fff;
    font-weight: 300;
}

.sm-banner h2{
    font-size: 28px;
    color: #fff;
    font-weight: 800;
}

.sm-banner span{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    /* padding-bottom: 15px; */

}

#banner-3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("banner3.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 60px;
    
}

#banner-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-top: 30px;

}

#banner-3 h2{
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

#banner-3 h3{
    color: #ff2424;
    font-weight: 800;
    font-size: 15px;
}

#banner-3 .small-banner2{
    background-image: url("banner4.png");
}

#banner-3 .small-banner3{
    background-image: url("banner\ 6.jpg");
}
.navbar .fa{
    display: none;
}

/* -----------newsletter----------- */

.news-letter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: radial-gradient(#e3edf7,#c7c8d4);
    width: 100%;
    height: 23vh;
    padding: 20px 40px;
    margin: 60px 0;
}

.news-letter h4{
    font-size: 22px;
    font-weight: 700;
    color: #2c2c2c;
}

.news-letter p{
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
}

.news-letter span{
    color: #f00;
}

.news-letter input{
    height: 3.125rem;
    padding: 0 1.25em ;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    

}

.news-letter button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.news-letter .form{
    display: flex;
    width: 40%;
    
}
/* -------popup------ */

.pop-up{
    width: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #2c2c2c;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 60%;
    transform: translate(-50%,-50%) scale(1);
}

.pop-up img{
    width: 100px;
    margin-top: -50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.pop-up span{
    color: #f00;
}
.pop-up h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.pop-up button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #00a33f;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* -----media query for screen------ */

@media only screen and (max-width: 820px){
     

     .nav-links ul li{
        display: block;
       
      }

      .nav-links{
        position: fixed;
       background-color: #e3e6f3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
   .navbar .fa{
        display: block;
        color: #474747;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .nav-links .hide{
        display: block;
        margin: 20px 30px;
        font-size: 22px;
        cursor: pointer;
        color: #2c2c2c; 
    }
   .nav-links ul li{
        padding: 10px 30px;
    }
      nav ul li a{
        color: #2c2c2c;
  }
   .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
     .get-in iframe{
        padding-left: 0;
        width: 100%;
        height: 100%;
        padding-top: 10%;
     }

     .msg{
        margin: 20px 10px;
        font-size: 14px;
     }

     
      .total-price{
        margin: 0 auto;
      }

      .cart-info p{
        font-size: 12px;
      }
      .offer{
        display: none;
      }

  .sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
    margin: 40px 0;
    padding: 10px;
    

  }

  .sm-banner .banner-box2{
    min-width: 100%;
    height: 30vh;
    margin: 40px 0;
    padding: 10px;
  }

  #banner-3{
    
    display: none;
  }

  #banner-3 .banner-box3{
    width: 28%;
   
  }
    .news-letter .form{
     width: 70%;
    }

    

  


  .hero-section h1{
    font-size: 30px;
    
  }
  .hero-section p{
    font-size: 15px;
  }

  .gallery-wrap img{
    display: none;
  }
  .gallery-text{
    display: none;
  }

}

/* -----media query for less than 600 screen size */

@media only screen and (max-width: 700px){
    .row{
        text-align: center;
        
    }
    
   .social h2{
    margin: 20px auto;
   }


    .col-2, .col-3 , .col-4, .col-5{
        flex-basis: 100%;
    }

    .col-5 img{
        width: 100px;
    }
   .gallery{
    display: none;
   }

   .single-product .row{
    text-align: left;
   }

   .single-product .col-2{
    padding: 20px 0;
   }

   .single-product h1{
    font-size: 26px;
    line-height: 32px;
   }

   .col-2 video{
    margin-bottom: 30px;
   }
   

}
